<!doctype html>
<html lang="en">
<head>
    <%- include('layout/css');%>
</head>
<body>
<%- include('layout/header'); %>
<%- include('layout/breadcumb');%>
<section class="dashboard-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="dashboard-sidebar">
                    <div class="profile-top">
                        <div class="profile-image">
                            <img src="../assets/images/logos/17.png" alt="" class="img-fluid">
                        </div>
                        <div class="profile-detail">
                            <h5>Tài khoản của bạn</h5>
                        </div>
                    </div>
                    <div class="faq-tab">
                        <ul class="nav nav-tabs" id="top-tab" role="tablist">
                            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#profile">profile</a>
                            </li>
                            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#orders">orders</a>
                            </li>
                            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#wishlists">wishlists</a>
                            </li>
                            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#settings">settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="faq-content tab-content" id="top-tabContent">
                    <div class="tab-pane fade" id="orders">
                        <div class="row">
                            <div class="col-12">
                                <div class="card dashboard-table mt-0">
                                    <div class="card-body" id="content_order">
                                        <table class="table table-responsive-sm mb-0">
                                            <thead>
                                            <tr>
                                                <th scope="col">order id</th>
                                                <th scope="col">product details</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Shipping status</th>
                                                <th scope="col">Order status</th>
                                                <th scope="col">total</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="dashboard-box">
                                            <div class="dashboard-title">
                                                <h4>Thông tin cá nhân</h4>
                                                <span data-toggle="modal" data-target="#edit-profile">edit</span>
                                            </div>
                                            <div class="dashboard-detail">
                                                <% if(customer) { %>
                                                    <ul>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Tên</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6><%=customer.name%></h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Địa chỉ mail</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6><%=customer.email%></h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Địa chỉ</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6><%=customer.address%></h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="details">
                                                                <div class="left">
                                                                    <h6>Số điện thoại</h6>
                                                                </div>
                                                                <div class="right">
                                                                    <h6><%=customer.phone%></h6>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wishlists">
                        <div class="row">
                            <div class="col-12">
                                <table class="table cart-table table-responsive-xs">
                                    <thead>
                                    <tr class="table-head">
                                        <th scope="col">image</th>
                                        <th scope="col">product name</th>
                                        <th scope="col">price</th>
                                        <th scope="col">action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="wishlist">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('layout/footer'); %>
<script>
    function getWishlist() {
        $.ajax({
            url:`${url}/customers/${JSON.parse('<%-JSON.stringify(customer.id)%>')}/wishLists`,
            method:"GET",
            success:function (response) {
                if(!response.length){
                    $("#wishlist").html("<h3>Chưa có sản phẩm nào</h3>");
                }else{
                    $("#wishlist").html("");
                    response.forEach(r=>{
                        $("#wishlist").append(`
                    <tr content="${r.id}">
                        <td>
                            <a href="/products/${r.slug}"><img width="50px" src="/uploads/${r.image}" alt=""></a>
                        </td>
                        <td><a href="/products/${r.slug}">${r.name}</a></td>
                        <td><span class="text-primary">
                            `+formatMoney(Math.round(r.priceFrom))+`-
                            `+formatMoney(Math.round(r.priceTo))+`
                        </span></td>
                        <td><a href="javascript:void(0)" id="${r.id}" class="removeWishList icon mr-3"><i class="ti-close"></i> </a></td>
                    </tr>
                  `);
                    })
                }
            },
            error:function (error) {
                console.log(error);
                $("#wishlist").html("<h3>Chưa có sản phẩm nào</h3>");
            }
        });
    }
    $(document).ready(function () {
        $.ajax({
            url: url + `/customers/${JSON.parse(JSON.stringify('<%-customer.id%>'))}/orders`,
            method:"GET",
            success:function (response) {
                if(!response.length) $("#content_order").html(`<h2>Bạn chưa có đơn hàng nào</h2>`);
                else{
                    response.forEach(r => {
                        $("#tbody").append(`
                            <tr>
                                <th scope="row">#${r.id}</th>
                                <td id="order${r.id}"></td>
                                <td id="price${r.id}"></td>
                                <td id="quantity${r.id}"></td>
                                <td>${r.shippingStatus.name}</td>
                                <td>${r.orderStatus.name}</td>
                                <td>${r.total} ${r.currency}</td>
                            </tr>
                        `);
                        r.orderDetails.forEach(e => {
                            $(`#price${r.id}`).append(`
                                <span>${e.price} ${r.currency}</span><br>
                            `);
                        });
                        r.orderDetails.forEach(e => {
                            $(`#order${r.id}`).append(`
                                <span>${e.product.name} - ${e.sku}</span><br>
                            `);
                        });
                        r.orderDetails.forEach(e => {
                            $(`#quantity${r.id}`).append(`
                                <span>${e.quantity}</span><br>
                            `);
                        });
                    });
                }
            },
            error:function (error) {
                console.log(error)
            }
        });
        getWishlist();
        $(document).on('click','.removeWishList',function (event) {
            event.preventDefault();
            if(confirm("Bạn có chắc không ?")){
                const id = $(this).attr("id");
                $.ajax({
                    url:url+"/wishLists/"+id,
                    method:"DELETE",
                    success:function (response) {
                        toast('success',response);
                        $(`tr[content=${id}]`).remove();
                    },
                    error:function (error) {
                        toast('error',error.responseJSON);
                    }
                })
            }else return;
        });
    })
</script>

</body>
</html>